<h1>sign up</h1>
<form action="/users/create" method="POST">
    <input type="text" name="name" placeholder="enter your name" required>
    <input type="email" name="email" placeholder="enter email" required>
    <input type="password" name="password" placeholder="password">
    <input type="password" name="confirmPassword" placeholder="confirm password">
    <!-- //changed -->
    <select name="gender" id="cars">
        <option value="Male">Male</option>
        <option value="Female">Female</option>
      </select>
    <input type="submit" value="signup"> 
    <p>
      <a href="/users/auth/google">signup using google</a>
    </p>
</form>
