#home-container {
  display: flex; }
  #home-container #feed-posts {
    width: 70%;
    padding: 10px; }
  #home-container #user-friends {
    width: 10rem;
    padding: 10px;
    border: 1px solid lightgreen;
    height: 100vh;
    overflow: scroll; }
  #home-container .friends-container {
    margin-bottom: 4rem;
    padding: 6rem;
    width: 2.9rem;
    height: 4rem;
    border: 2px solid black;
    overflow: scroll; }

@media screen and (max-width: 480px) {
  body {
    background-color: lightgreen; }
  #home-container {
    display: flex; }
    #home-container #feed-posts {
      width: 60%; }
    #home-container #user-friends {
      width: 40%;
      border: 1px solid #1bb81b;
      overflow: scroll; }
    #home-container .friends-container {
      width: 30%;
      margin: 1rem;
      border: 2px solid black;
      padding: 1.2rem; }
    #home-container #user-chat-box {
      width: 50%;
      padding: 0;
      bottom: 52px;
      right: 20px;
      height: 20rem; } }
