#layout-footer {
  position: fixed;
  padding: 10px 10px 0px 10px;
  bottom: 0;
  width: 100%;
  /* Height of the footer*/
  height: 40px;
  background: grey;
  color: white;
  background: grey;
  padding: 5px 10px;
  display: flex;
  justify-content: flex-start; }
  #layout-footer a {
    color: white;
    text-decoration: none; }
  #layout-footer .footer-nav ul {
    display: flex;
    flex-direction: row;
    list-style: none; }
  #layout-footer .footer-nav li {
    margin-left: 20px; }
